<div id="job-list-panel" class="hidden" aria-label="Job list">
  <div class="job-board-panel">
    <div class="job-board-title">Available Jobs</div>
    <div id="job-list" class="job-list"></div>
  </div>
</div>

<template id="job-template">
  <div class="job-item">
    <div class="job-text">
      <div class="job-dest"></div>
      <div class="job-meta job-distance"></div>
      <div class="job-meta job-weight"></div>
      <div class="job-meta job-pay"></div>
    </div>
    <button class="job-select-btn" type="button">Select</button>
  </div>
</template>
